body{
	background-image:url(images/lexus.jpg);
    background-position: center;
    height:70vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
		display: flex;
		flex-direction:column;
		flex-wrap: wrap;
		justify-content: space-between;
		justify-content: center;
		align-items: center;
		width: 220px;
		border:3px solid #ff5c33;
		
	}
	input{
		height: 25px;
	}
	p{
		font-family: Impact, Charcoal, sans-serif;
		color:#595959;
		text-shadow: 2px 2px #ff5c33;
	}
	div{
		display: flex;
		justify-content: space-between;
		justify-content: center;
		align-items: center;
		
	

	}
	.line1{
		display: flex;
		justify-content: flex-start;
	}
	.line2{
		display: flex;
		justify-content: flex-end;
	}
	.main{
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-between;
		width: 220px;
	}
	a{
		background-color: #f44336;
 		color: white;
  		padding: 6px 15px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
	}
	input[type="submit"]{
		background-color: #f44336;
 		color: white;
  		padding: 1px 20px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
	}
