section{
	width:100%;
	height: 100%;
	background-color:white;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.part1{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	background-image:url(images/gt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 5%;
}
.box1{
	padding-top: 200px;
	text-align: center;
}
.box1 h1,p{
	color:white;
}
.box2{
	padding-top: 30px;
	display: flex;
	flex-direction: row;
}
@media only screen and (max-width:800px) {
   .box2{ 
    display: flex;
    flex-direction: column;
    align-items: center;
	margin: 20px;

}
}
@media only screen and (max-width:800px) {
	.part1 .box2 input{
	margin: 10px;
	height: 35px;
	width:270%;
	
	}
}
.box2 input{
	margin: 10px;
	height: 60px;
	width: 300px;
}

.box3{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 15px;
	width: 100%;
}
.box3 p{
	color:white;

}
.box3 a{
	color:orange;
	padding-bottom: 300px;
}
.box2 input[type="button"]{
		border-radius: 20px;
		background-color: #00ffcc;
		border:1px solid #00ffcc;
		color:white;
}
.but{
	background-color: #f44336;
 		color: white;
  		padding: 10px 20px;
  		border-radius: 5px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
}
p,h1{
		font-family: Impact, Charcoal, sans-serif;
		color:#dbe2a3;
		text-shadow: 2px 2px #ff5c33;
		font-size: 2vw;
	}
@media only screen and (max-width:800px) {
   .box2{ 
    display: flex;
    flex-direction: column;
    align-items: center;
	margin: 20px;

}
}
@media only screen and (max-width:800px) {
	.part1 .box2 input{
	margin: 10px;
	height: 35px;
	width:270%;
	
	}
}
